{% extends 'base.html.twig' %}



{% block body %}
<main>
{% include 'home/slide.html.twig' %}

{% include 'home/bestSelling.html.twig' %}

{% include 'home/feauturedweek.html.twig' %}

{% include 'home/lastpublished.html.twig' %}
</main>
{% endblock %}
