{% extends 'base.html.twig' %}

{% block title %}New Ouvrier{% endblock %}

{% block body %}
    <h1>Create new Ouvrier</h1>

    {{ include('ouvrier/_form.html.twig') }}

    <a href="{{ path('app_ouvrier_index') }}">back to list</a>
{% endblock %}
